.modal-content > h3 {
    margin: 0;
}

.colorSet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px 0;
}

.colorSet span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    border: 1px solid #a8a6a6;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

@media (max-width: 300px) {
    .colorSet span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1.2rem;
    }
}