#time {
    font-size: clamp(0.5rem, 4vw, 1.3rem);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bg-color);
    background-color: var(--placeholder-color);
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 1000;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    pointer-events: auto;
}

.toast:empty {
  background-color: transparent;
}

.container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, 1fr);  
    gap: 1.4vh;
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}
  
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    height: auto;
    font-weight: bold;
    text-align: center;
}

#guessInput  {
  width: 200px; 
  border: 1px solid transparent; 
  border-bottom: 1px solid #a8a6a6;
  background-color: transparent;
  text-align: center; 
  outline: none; 
  font-size: 1.2rem;
  font-weight: 540;
  color: inherit;
}

#guessInput::placeholder {
    color: var(--placeholder-color);
}

.grid-item span {
    display: grid;
    place-items: center;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid #a8a6a6;
} 

.blank {
    background-color: var(--blank-color);
    color: white;
    animation: pop 0.5s ease-in-out;
}

.wrong-position {
    background-color: var(--wrong-position-color);
    color: white;
    animation: pop 0.5s ease-in-out;
}

.mixed {
    background: var(--mixed-color);
    color: white;
    animation: pop 0.5s ease-in-out;
}

.correct {
    background-color: var(--correct-color);
    color: white;
    animation: pop 0.5s ease-in-out;
}

.invalid {
    animation: flash-red  1s ease-in-out;
}

@keyframes flash-red {
  0%   { color: rgba(255, 0, 0, 0.86); }
  50%  { color: transparent; }
  100% { color: rgba(255, 0, 0, 0.86); }
}

@keyframes pop {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.12);
    }
    100% {
        transform: scale(1);
    }
} 
  
@media (max-width: 600px) {
    #guessInput {
        display: none;
    }

    .grid-item span {
        font-size: 1.5rem;
    }
}

@media (max-width: 350px) {

    .grid-item span {
        height: 35px;
        font-size: 1rem;
    }
}

