nav {
    height: var(--nav-height);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px;
    font-size: 1.5rem;
    background-color: var(--nav-bg-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .primary-links {
    display: flex;
    align-items: center;
    gap: 20px; 
}

nav .secondary-links {    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 25px;
}

.secondary-links div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#trial {
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 3%;
    font-size: clamp(0.8rem, 3vw, 1.3rem);
}

#logo {
    height: 40px;
    width: auto; 
    object-fit: contain; 
}

nav .icon-container {
    font-size: 2rem;
}

@media (max-width: 470px) {
    nav {
        padding: 10px 4px;
    }
    
    nav .icon-container {
        font-size: 1.5rem;
    }

    nav .primary-links {
        gap: 10px;
    }

    nav .secondary-links {
        gap: 12px;
    }

    #logo {
        height: 35px;
    }
}

@media (max-width: 350px) {

    #logo {
        height: 30px;
    }
}
