.keyBoardContainer {
    height: auto; /* Allow the height to adjust based on content */
    width: 100%; /* Use a larger percentage to make it more responsive */
    max-width: 1000px; /* Cap the maximum width */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    gap: min(0.8vh, 5px);
}

.keyBoardContainer div {
    width: 100%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2px;
}

.keyBoardContainer div button {
    height: 50px;
    width: 50px;
    min-width: 50px;
    border: solid grey 1px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
}

#rowOne {
    width: 98%;
}

#rowTwo {
    justify-content: unset;
    width: 98%;
    gap: 1.4%;
    margin-left: 9%;
}
#rowThree {
    width: 98%;
}

.keyBoardContainer .action {
    min-width: 80px;
}

@media (max-width: 600px) {

    .keyBoardContainer {
        overflow-x: hidden;
        margin-top: 0;
    }

    #rowTwo  {
        gap: 1%;
    }

    .keyBoardContainer div button {
        height:  max(5.75vh, 32px);
        width: 9%;
        min-width: 9%;
        font-size: 3.5vw;
        border-radius: 6px;
        margin: 0;
    }
    
    .keyBoardContainer .action {
        height: max(5.75vh, 32px);
        width: 12%;
        min-width: 12%;
        font-size: 3.5vw;
        border-radius: 6px;
    }
}
