.modal {
    position: fixed;
    z-index: 1;
    padding-top: 3vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: var(--modal-bg-color);
    border-radius: 10px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;    
}

@keyframes grow {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

#options {
    background-color: var(--modal-bg-color);
    color: inherit;
}

#msg {
    margin-bottom: 0;
}

#msg button {
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 5px;
}

.modal-content .results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modal-content .results a {
    display: flex;
    align-items: center;
    color: inherit;
}

.modal-content .inputContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-content .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.buttonContainer button {
    display: flex;
    gap: 4px;
    align-items: center;
}

.buttonContainer .shareButton {
    color: white;
    background-color: var(--correct-color);
}

.modal-content .colorGrid {
    display: grid;   
    width: fit-content;
    gap: 2px; 
    margin: 0 auto;
}
  
.colorGrid > div {
    width: 20px; 
    height: 20px;
    border: 1px solid black; 
    border-radius: 2px;
}

@media (max-width: 470px) {

    .modal {
        padding-top: 8vh;
    }

    .modal-content {
        width: 90%;
        max-width: 320px;
    }

    .modal-content .inputContainer label {
        font-size: 0.8rem; 
    }

    .modal-content .buttonContainer {
        font-size: 0.9rem;
    }

    .modal-content > h1 {
        font-size: 1.6rem;
    }
    
    .modal-content .results > h2 {
        font-size: 1.3rem;
    }

    #msg button {
        font-size: 1.2rem;
    }
}

@media (max-width: 350px) {
    .colorGrid > div {
        width: 15px; 
        height: 15px;
    }

    .modal-content {
        padding: 10px;
    }

    .modal-content .inputContainer label {
        font-size: 0.7rem; 
    }

    .modal-content > h1 {
        font-size: 1.3rem;
    }
    
    .modal-content .results > h2 {
        font-size: 1rem;
    }

    .modal-content .buttonContainer {
        font-size: 0.8rem;
    }

    #msg button {
        padding: 3px;
        font-size: 1rem;
    }
}